body {
    background-color: skyblue;
}

.color {
    background-color: deepskyblue;
    border: 4px solid darkblue;
    border-radius: 4px;
}

.container-base {
    display: flex;
    width: 1200px;
    margin: auto;
    border: 4px solid black;
    padding: 4px;
}

.container-base > div {
    padding: 0px 4px;
}

.container-sidebar {
    flex: 1;
}

.container-content {
    flex: 3;
}

.task-block {
    text-align: center;
}

.task-block > div {
    margin: 4px 4px;
}

.container-instruction {
    text-align: center;
    font-size: 2.5em;
}

.container-submit {
    text-align: right;
}

.rating-block {
    text-align: center;
    padding: 5px;
}

.stimulus-block {
    text-align: center;
    display: flex;
    align-items: center;
}

.stimulus {
    flex: 1;
    vertical-align: middle;
}

.stimulus-text {
    font-size: 1.5em;
    display: inline-block;
    word-wrap: break-word;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 20%;
    height: 50px;
}

input[type=text] {
    max-width: 500px;
    border:2px solid #4CAF50;
    border-radius: 4px;
    background-color: palegreen;
    outline: none;
}

.stimulus-img {
    max-width: 300px;
    max-height: 300px;
}