<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <br>
        <br>
        <br>
        <div>
            <p>Danke das sie an der Campaign {{ campaign }} teilnehmen</p>
            <p>Bitte machen sie x und bewerten dann y</p>
            <p>Geld gibt es am Ende</p>
        </div>
        {% url "rate" campaign "0" as the_url %}
        <input type="button" onclick="location.href='{{ the_url }}';" value="Start Campaign"/>
    </div>
</body>
</html>