{% extends "crowd/base.html" %}

{% block content %}
    {% load extra_tags %}
    <form method="post">
        <div class="task-block color">
            {% csrf_token %}
            {% if instruction %}
                <div class="container-instruction color">
                    {{ instruction }}
                </div>
            {% endif %}
            {% for field, rating_blocks in form|zip:dsl %}
                <div class="rating-block color">
                    {% for stimulus_blocks in rating_blocks.0 %}
                        <div class="stimulus-block">
                            {% for stimulus_block in stimulus_blocks %}
                              <div class="stimulus">
                                {% for stimulus in stimulus_block %}
                                    {% display_stimulus stimulus %}
                                {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="container-submit">
                <input id="submit" type="submit", value="Submit">
            </div>
        </div>
    </form>
{% endblock %}
