{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static "crowd/tmp.css" %}">
</head>
<body>
<div class="container">
    <h1>{{ campaign.name }}</h1>

    {% load extra_tags %}
    <div class="task-block">
        <form method="post">
            {% csrf_token %}
            <div class="instruction">
                {{ instruction }}
            </div>
            {% for field, rating_blocks in form|zip:dsl %}
                <div class="rating-block">
                    {% for stimulus_blocks in rating_blocks.0 %}
                        <div class="stimulus-block">
                            {% for stimulus_block in stimulus_blocks %}
                              <div class="stimulus">
                                {% for stimulus in stimulus_block %}
                                    {% display_stimulus stimulus %}
                                {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {{ field }}
                </div>
            {% endfor %}
            <input id="submit" type="submit", value="Submit">
        </form>
    </div>
</div>
</body>
