<div>
    <p>{{ campaign.name }}</p>
</div>
{% load extra_tags %}
<div align="center">
    {% url "rate" "Campaign1" "0" as the_url %}

    <a href="{{ the_url }}">I'm linking to {{ the_url }}</a>

    <form method="post">
        {% csrf_token %}
        {% for field, rating_blocks in form|zip:dsl %}
            {% for stimulus_blocks in rating_blocks.0 %}
                {% for stimulus_block in stimulus_blocks %}
                    {% for stimulus in stimulus_block %}
                        {{ stimulus.name }}
                    {% endfor %}
                {% endfor %}
                <br>
            {% endfor %}
            {{ field }}
        {% endfor %}
        <br>
        <input type="submit", value="Submit">
    </form>
</div>

